*{
    padding:0px;
    margin:0px;
}
$background:rgb(22, 228, 15);
@mixin defaultText{
    font-size: 14pt;
    font-family: sans-serif;
    color:white;
    line-height: 18pt;
}
body{
    background: $background;
    @include defaultText();
}
nav{
    height:150px;
    background: white;

    ul{
        display:flex;
        height:150px;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        li{

            a{
                display: block;
                color:black;
                text-decoration: none;
                margin:0px 20px;

            }
        }
    }
}





@import './mobile.scss';